* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body{
    background-color: black;
    display: flex;
    height: 100vh;
}
.game-board{
    width: 640px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;

    /* display: grid;
    grid-gap: 50px;
    grid-template-columns: 120px 120px 120px 120px; 
    grid-template-rows: 120px 120px 120px 20px;
    justify-content: center;
    /* max-width: 50vw;
    min-height: 80vh; */
    /* margin: auto; */ 
}

.cards{
  width: calc(25% - 10px);
  height: calc(33.333% - 10px); 
  border: 2px solid white; 
  position: relative;
  margin: 5px;
}

.icon, .image {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
}